.App .ant-layout-header {
  height: inherit;
  background: #f0f2f5;
  padding: 0;
  line-height: 20px;
}

.App .top-header {
  color: #f4f4f4;
  padding: 0 10px;
}

.App .brand-name {
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}

.App .brand-name button {
  background: none;
  border: none;
  font-size: 22px;
  color: #922d61;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 10px;
}

.App .middle-top-header button {
  background: none;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  color: #b9b9b9;
}

.App .right-top-header {

}

.App .profile-menu {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: #b9b9b9;
  padding: 0;
}

.App .bottom-header {
  padding: 6px 10px;
  background: #922d61;
}

.App .bottom-header .ant-breadcrumb,
.App .bottom-header .ant-breadcrumb * {
  color: #ffffff !important;
}

.App .bottom-header .right-actions button {
  background: none;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.App .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, .2);
  margin: 16px 24px 16px 0;
  float: left;
}

/* Filter Sidebar */
.filter-sidebar span.title {
  font-size: 20px;
  font-weight: 500;
}

.filter-sidebar .ant-form {
  margin-top: 15px;
}

.filter-sidebar .ant-form .ant-form-item {
  margin-bottom: 5px;
}

/* Table */
.ant-table-thead span {
  color: #922d61;
}

.ant-table-thead > tr.ant-table-row-hover > td, .ant-table-tbody > tr.ant-table-row-hover > td, .ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td {
  background: #e6cdd9 !important;
}